.card {
    padding: 30px 30px;
    padding-left: 70px;
    /* margin-top: 500px; */
    /* margin-bottom: 60px; */
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: 100px auto;
    float: none;
    margin-bottom: 10px; 
}
.mat-form-field{
    width: 350px;
    margin-left: 50px;
    margin-left: 50px;
    
}